@page "/projeler"
@inject NavigationManager Nav

<PageTitle>Projeler</PageTitle>

<div class="card">
    <div class="card-header"><i class="fa fa-project-diagram"></i> Projeler</div>
    <div class="card-body">
        <div class="toolbar">
            <button class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Yeni</button>
            <button class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Duzenle</button>
            <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Sil</button>
            <button class="btn btn-outline btn-sm"><i class="fa fa-file-excel"></i> Excel Aktar</button>
        </div>
        <div class="grid-container" style="max-height:500px;">
            <table class="data-grid">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Proje Kodu</th>
                        <th>Proje Adi</th>
                        <th>Musteri</th>
                        <th>Baslangic Tarihi</th>
                        <th>Bitis Tarihi</th>
                        <th>Durumu</th>
                        <th>Butce</th>
                        <th>Aciklama</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="9" class="text-center text-muted">Kayit bulunamadi</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
